
:root {
  --dyellow: #FFB400;
  --filter-dyellow: 
    invert(70%) 
    sepia(86%) 
    saturate(1787%) 
    hue-rotate(359deg) 
    brightness(101%) 
    contrast(105%);
  --lblack: #2B2B2B;
  --lowblack: #3A3B3C;
  --gray: #767676;
  --lgrey: #F0F0F6;
  --bg: #E4E6EB;
  --circle: 100px;
  --sprite-w: 70px;
  --sprite-h: 70px;
}