@media screen and (min-width:1440px){ 
  main {
    width: 970px;
    section{
      width: 100%;
    }
  }
}

@media screen and (min-width:1300px) and (max-width:1490px){
  main{
    width: 780px;
    section{
      width: 100%;
    }
  }
}

@media screen and (min-width:1100px) and (max-width:1300px){
  main{
    width: 640px;
    section{
      width: 100%;
    }
  }
}

@import './_one_page_components/hero';
@import './_one_page_components/services';
@import './_one_page_components/freelance';
@import './_one_page_components/recommendations';
@import './_one_page_components/experiences_formations';
@import './_one_page_components/portfolio';
@import './_one_page_components/contact';
@import './_one_page_components/footer';

// responsive css rules

@import './responsive_css/big_1024_1440';
@import './responsive_css/small_320_375';
