@media screen and (min-width:320px) and (max-width:374px){
  #root{
    // width:fit-content;
    --fz :45px; 
  }

  div.main-container {
    display: flex;
    flex-direction: column;
  }

  section.presentation-board {
    font-size: 45px;
    width: 98%;
    padding:1%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    div.me{
      display: flex;
      flex-direction: column;
      align-items: center;
      figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        img.picture{
          width: 100%;
          border-radius: var(--circle);
          object-fit: cover;
        }
        figcaption{
          font-weight:bolder;
          margin-top: 30px;
        }
      }

      div.social-network{
        h4.what-am-i{
          margin-top: 40px;
        }
        ul{
          display: flex;
          align-items: center;
          margin-top: 50px;
          margin-bottom: 50px;
          height: 100px;
        }
        li {
          transform: scale(5);
          font-size: 22px;
        }
      }
    }

    div.my-languages, div.systems,div.skills{
      font-size: 34px;
    }

    button.download-cv{
      width: 90%;
      font-size: larger;
      span{
        font-size: larger;
      }
      border-radius: 5px;
    }
  }

  main{
    width: 100%;
    section { 
      font-size: 35px;
      & > p {
        margin-left: 10px;
        margin-right: 10px;
        width: fit-content;
        text-align: justify;
        letter-spacing: 3px;
        word-spacing: none;
      }
    }
    div.hero{
      display:none;
    }
    section.services{
      margin-top: 100px;
      width:100%;
      text-align: center;
      div.services-container{
        grid-template-columns: 1fr;
        div.service{
          width: 100%;
          height: 500px;
          div.sprite{
            transform: scale(2.7);
          }
        }
      }
    }

    section.freelance-prices {
      div.price-container {
        font-size: var(--fz);
        width: auto;
        flex-direction: column;
        div.price-per-antity{
          width: inherit;
          div span.bold-price{
            font-size: var(--fz);
          }
          div p.options{
            margin: auto;
            width: max-content;
            span.line-option{
              width: max-content;
            }
          }
        }
      }
    }

    section.formations,
    section.experiences{
      div.formations-container,
      div.experiences-container{
        div.formation,
        div.experience{
          flex-direction: column;
          div.degre-date,
          div.experience-date{
            span.date{
              font-size: var(--fz);
            }
            p, span.technos{
              line-height: 60px;
            }
          }
          div.degre-date,
          div.experience-date,
          aside{
            font-size: var(--fz);
            width: auto; 
          }
          aside{
            h3{ display:none; }
            margin-top: 20px;
          }
        }
      }
    }

    section.portfolio{
      margin-top: 100px;
      width:100%;
      text-align: center;
      div.portfolio-container{
        flex: 1 1 auto;
        overflow-y: auto;
        grid-template-columns: 1fr;
        figure{
          height: 450px;
        }
      }
    }

    section.contact{
      div.info-container{
        grid-template-columns: auto;
        div.info{
          p.content-text{
            &>span:nth-of-type(2){
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 70%;
            }
          }
        }
      }
    }
  }
}