@media screen and (min-width:768px) and (max-width:1023px){
  #root{
    // width:fit-content;
    --fz :25px; 
  }

  div.main-container {
    display: flex;
    flex-direction: column;
  }

  section.presentation-board {
    font-size: var(--fz);
    width: 98%;
    padding:1%;
    height:fit-content;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5%;
    align-items: center;
    & > div {
      border-bottom: none;
    }
    div.me{
      display: flex;
      flex-direction: column;
      align-items: center;
      figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        img.picture{
          width: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
        figcaption{
          font-weight:bolder;
          margin-top: 30px;
        }
      }

      div.social-network{
        ul{
          display: flex;
          align-items: center;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        li {
          transform: scale(2);
          font-size: 22px;
        }
      }
    }

    div.my-languages, div.systems,div.skills{
      font-size: 34px;
    }

    div.skills{
      border-top: 1px solid var(--mgrey);
      border-bottom: 1px solid var(--mgrey);
    }

    button.download-cv{
      width: 100%;
      font-size: larger;
      span{
        font-size: larger;
      }
      border-radius: 5px;
    }
    
    div.skills, button.download-cv{      
      grid-column-start: 1;
      grid-column-end: span 2;
    }
  }

  main{
    width: 100%;
    section { 
      font-size: var(--fz);
      & > p {
        margin-left: 10px;
        margin-right: 10px;
        width: fit-content;
        text-align: justify;
        letter-spacing: 3px;
        word-spacing: none;
      }
    }
    div.hero{
      display:none;
    }
    section.services{
      margin-top: 100px;
      width:100%;
      text-align: center;
      div.services-container{
        grid-template-columns: 1fr 1fr;
        div.service{
          height: 400px;
          div.sprite{
            transform: scale(2);
          }
        }
      }
    }

    section.freelance-prices {
      div.price-container {
        font-size: var(--fz);
        width: auto;
        flex-direction: column;
        div.price-per-antity{
          width: inherit;
          div span.bold-price{
            font-size: var(--fz);
          }
          div p.options{
            margin: auto;
            width: max-content;
            span.line-option{
              width: max-content;
            }
          }
        }
      }
    }

    section.formations,
    section.experiences{
      div.formations-container,
      div.experiences-container{
        div.formation,
        div.experience{
          flex-direction: column;
          div.degre-date,
          div.experience-date{
            span.date{
              font-size: var(--fz);
            }
            p, span.technos{
              line-height: 60px;
            }
          }
          div.degre-date,
          div.experience-date,
          aside{
            font-size: var(--fz);
            width: auto; 
          }
          aside{
            h3{ display:none; }
            margin-top: 20px;
          }
        }
      }
    }

    section.portfolio{
      margin-top: 100px;
      width:100%;
      text-align: center;
      div.portfolio-container{
        flex: 1 1 auto;
        overflow-y: auto;
        grid-template-columns: 1fr 1fr;
        figure{
          height: 250px;
        }
      }
    }

    section.contact{
      div.info-container{
        grid-template-columns: auto auto;
        height:485px;
        
      }
    }
  }
}