section.contact{
  display: flex;
  justify-content: space-between;
  form h2,
  aside h2{
    margin-bottom: 40px;
  }  
  form div.form-container,
  aside div.info-container{
    height: 550px;
  }
  form div,
  aside > div.info-container > div.info{
    background-color: white;
  }
  form{
    width: 55%;
    h2{
      color:var(--lblack);
    }
    div.form-container{ 
      padding: 15px;
      p{
        display:flex;
        flex-direction: column;
        label{
          color: var(--lowblack);
          margin-bottom: 6px;
        }
        input,
        textarea{
          margin-bottom: 20px;
          border: none;
          background-color: var(--lgrey);
          padding: 8px 15px 8px 15px;
        }
      }
      p.textarea{
        height: 50%;
        textarea{
          height: 100%;
        }
      }
      button{
        border:none;
        background-color: var(--dyellow);
        padding: 8px 10px 8px 10px;
      }
    }
  }
  aside{
    width: 40%;
    div.info-container{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      div.info{
        padding: 20px;
        & > p.icon{
          text-align: center;
          & > span {
            background-color: var(--dyellow);
            padding: 8px;
            border-radius: 50px;
            margin-bottom: 25px;
          } 
        }

        p.content-text {
          display: flex;
          justify-content: space-between;
          & > span,
          & > span a {
            color: var(--gray);
          }
          & > span.label-text {
            font-weight: bold;
            color: var(--lowblack);
          }
        }
      } // div.info END
    } // div.info-container END
  }
}