div.hero{
  padding: 50px 50px 0px 30px;
  max-width: 970px;
  max-height: 470px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  div.hero-text{
    margin: 50px 0px 60px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    h1.i-am{
      span.front-end{
        color: var(--dyellow);
        background-color: aquamarine;
      }
    }
    button.hire-me{
      width: 170px;
      background-color: var(--dyellow);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px 10px 20px;
      border-radius: 5px;
      border: none;
      span.material-symbols-outlined{
        font-weight: 400;
      }
    }
  }
  figure{
    height: 100%;
    display: flex;
    align-items: flex-end;
    img{
      height: 95%;
    }
  }
}
