section.services{
  div.services-container{
    display:grid;
    grid-gap: 20px;
    div.service{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
      div.sprite {
        width: var(--sprite-w);
        height: var(--sprite-h);
        // background-image: url('../../../assets/illustration/illustration_sprites.png');
        background-size: 284%;
        &.web-dev{
          background-position: -2px 1px;
        }
        &.web-design{
          background-position: -124px 2px;
        }
        &.back-end{
          background-position: -125px -95px;
        }
        &.dev-mobile{
          background-position: -121px -198px;
        }
        &.game-dev{
          background-position: -2px -95px;
        }
        &.autre{
          background-position: -2px -95px;
        }
        background-repeat: no-repeat;
        /* Utilisez filter pour changer la couleur de l'image en #FFB400 */
        filter:var(--filter-dyellow);
      }
    }
  }
}
