@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap");
:root {
  --dyellow: #FFB400;
  --filter-dyellow: 
    invert(70%) 
    sepia(86%) 
    saturate(1787%) 
    hue-rotate(359deg) 
    brightness(101%) 
    contrast(105%);
  --lblack: #2B2B2B;
  --lowblack: #3A3B3C;
  --gray: #767676;
  --lgrey: whitesmoke;
  --bg: #E4E6EB;
  --circle: 100px;
  --sprite-w: 70px;
  --sprite-h: 70px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  background-color: var(--lgrey); }

button, li, a,
section.menu div.menu-options div.large-small > .burger,
section.menu div.menu-options > div.themes {
  cursor: pointer; }

footer,
section.menu,
section.presentation-board,
div#hero,
section#services .services-container .service,
section#freelance-prices .price-container .price-per-antity,
section#recommendations .recommendation-container .recommender,
section#formations .formations-container .formation,
section#experiences .experiences-container .experience,
section#contact form .form-container,
section#contact aside.contact-infos .info-container .info {
  background-color: white; }

li {
  list-style: none; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Montserrat', sans-serif;
  color: var(--lblack); }

h3 {
  font-weight: 700; }

.hidden {
  display: none; }

.bold {
  font-weight: bold; }

div.main-container {
  display: flex;
  justify-content: space-between; }

main section h2 {
  width: fit-content;
  margin: 100px auto 40px auto; }

main section > p {
  width: 60%;
  margin: 30px auto 30px auto;
  color: var(--gray); }

section.presentation-board {
  padding: 20px; }
  section.presentation-board > div {
    border-bottom: 1px solid rgba(125, 125, 125, 0.3);
    margin-top: 20px;
    padding-bottom: 20px;
    width: 100%; }
    section.presentation-board > div div.social-network {
      margin-top: 20px; }
      section.presentation-board > div div.social-network h4.what-am-i {
        font-weight: 400; }
      section.presentation-board > div div.social-network ul {
        display: flex;
        justify-content: space-around;
        margin-top: 20px; }
        section.presentation-board > div div.social-network ul li {
          width: 24px;
          height: 24px;
          padding: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--dyellow);
          color: var(--lblack);
          border-radius: var(--circle); }
          section.presentation-board > div div.social-network ul li a {
            text-decoration: none; }
    section.presentation-board > div h3, section.presentation-board > div h4 {
      margin-bottom: 15px;
      font-weight: 500; }
    section.presentation-board > div p {
      font-weight: 300;
      color: var(--gray); }
    section.presentation-board > div div.languages-container p.percent,
    section.presentation-board > div div.skill p.percent {
      display: flex;
      justify-content: space-between; }
    section.presentation-board > div span.jauge {
      display: inline-block;
      width: 100%;
      height: 6px;
      padding: 1px;
      border: 1px solid var(--dyellow);
      border-radius: 25px;
      margin-top: 5px;
      margin-bottom: 8px; }
      section.presentation-board > div span.jauge span.interne {
        display: block;
        height: 2px;
        background-color: var(--dyellow); }
  section.presentation-board button.download-cv {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    padding: 8px 15px 8px 15px;
    font-weight: bold;
    width: 75%;
    background-color: var(--dyellow); }

@media screen and (min-width: 992px) {
  section.presentation-board {
    width: 305px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center; }
    section.presentation-board div.me {
      display: flex;
      flex-direction: column;
      align-items: center; }
      section.presentation-board div.me figure {
        display: flex;
        flex-direction: column;
        align-items: center; }
        section.presentation-board div.me figure img.picture {
          width: 150px;
          height: 150px;
          border-radius: var(--circle);
          object-fit: cover; }
        section.presentation-board div.me figure figcaption {
          font-weight: bolder;
          margin-top: 30px;
          font-size: 20px; } }

@keyframes burger_hover {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

@keyframes cross_fade {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes cross_one {
  0% {
    transform: rotate(0deg);
    transform-origin: 0%; }
  100% {
    transform: rotate(45deg);
    transform-origin: 3%; } }

@keyframes cross_three {
  0% {
    transform: rotate(0deg);
    transform-origin: 0%; }
  100% {
    transform: rotate(-45deg);
    transform-origin: 4%; } }

section.menu,
div.menu-option,
span.burder {
  display: flex;
  flex-direction: column;
  align-items: center; }

section.menu {
  min-width: 108px;
  max-width: 170px; }
  section.menu div.menu-fixed {
    position: fixed;
    padding: 30px 10px 30px 10px; }
    section.menu div.menu-fixed div.menu-options {
      display: flex;
      flex-direction: column;
      align-items: center; }
      section.menu div.menu-fixed div.menu-options div.large-small {
        width: 40px;
        height: 40px; }
        section.menu div.menu-fixed div.menu-options div.large-small div.burger {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around; }
          section.menu div.menu-fixed div.menu-options div.large-small div.burger span.bar {
            height: 4px;
            width: 100%;
            border-radius: 15px;
            background-color: var(--gray); }
          section.menu div.menu-fixed div.menu-options div.large-small div.burger:hover span.bar {
            animation: burger_hover 0.3s ease; }
            section.menu div.menu-fixed div.menu-options div.large-small div.burger:hover span.bar:nth-child(1) {
              animation-delay: 0s; }
            section.menu div.menu-fixed div.menu-options div.large-small div.burger:hover span.bar:nth-child(2) {
              animation-delay: 0.1s; }
            section.menu div.menu-fixed div.menu-options div.large-small div.burger:hover span.bar:nth-child(3) {
              animation-delay: 0.2s; }
          section.menu div.menu-fixed div.menu-options div.large-small div.burger.burger-clicked span.bar:nth-child(1) {
            transform: rotate(45deg);
            transform-origin: 3%;
            animation: cross_one 0.3s ease; }
          section.menu div.menu-fixed div.menu-options div.large-small div.burger.burger-clicked span.bar:nth-child(2) {
            opacity: 0;
            animation: cross_fade 0.3s ease; }
          section.menu div.menu-fixed div.menu-options div.large-small div.burger.burger-clicked span.bar:nth-child(3) {
            transform: rotate(-45deg);
            transform-origin: 4%;
            animation: cross_three 0.3s ease; }
    section.menu div.menu-fixed div.themes {
      width: 40px;
      height: 40px; }
    section.menu div.menu-fixed span.circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      color: var(--gray);
      border-radius: var(--circle);
      background-color: var(--lgrey);
      transition: transform 0.2s ease-in, box-shadow, 0.2s ease, background-color 0.2s ease; }
      section.menu div.menu-fixed span.circle:hover {
        transform: translate(-5px, -5px);
        color: var(--lowblack);
        background-color: var(--dyellow);
        box-shadow: 4px 4px 3px var(--gray); }

@media screen and (min-width: 992px) {
  section.menu {
    width: 100%; }
    section.menu .menu-fixed .menu-options {
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 100px; }
    section.menu ul {
      height: 420px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      section.menu ul li {
        display: flex;
        align-items: center; }
        section.menu ul li a {
          display: contents; }
          section.menu ul li a span.circle {
            margin-right: 10px; } }

@media screen and (min-width: 1024px) {
  main {
    width: 970px; }
    main section {
      width: 100%; } }

div.hero {
  padding: 50px 50px 0px 30px;
  max-width: 970px;
  max-height: 470px;
  background-color: white;
  display: flex;
  justify-content: space-between; }
  div.hero div.hero-text {
    margin: 50px 0px 60px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start; }
    div.hero div.hero-text h1.i-am span.front-end {
      color: var(--dyellow);
      background-color: aquamarine; }
    div.hero div.hero-text button.hire-me {
      width: 170px;
      background-color: var(--dyellow);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px 10px 20px;
      border-radius: 5px;
      border: none; }
      div.hero div.hero-text button.hire-me span.material-symbols-outlined {
        font-weight: 400; }
  div.hero figure {
    height: 100%;
    display: flex;
    align-items: flex-end; }
    div.hero figure img {
      height: 95%; }

@media screen and (min-width: 1024px) {
  div.hero {
    width: 100%;
    height: 100%; } }

section.services div.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px; }
  section.services div.services-container div.service {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px; }
    section.services div.services-container div.service div.sprite {
      width: var(--sprite-w);
      height: var(--sprite-h);
      background-image: url("../assets/illustration/illustration_sprites.png");
      background-size: 284%;
      background-repeat: no-repeat;
      /* Utilisez filter pour changer la couleur de l'image en #FFB400 */
      filter: var(--filter-dyellow); }
      section.services div.services-container div.service div.sprite.web-dev {
        background-position: -2px 1px; }
      section.services div.services-container div.service div.sprite.web-design {
        background-position: -124px 2px; }
      section.services div.services-container div.service div.sprite.back-end {
        background-position: -125px -95px; }
      section.services div.services-container div.service div.sprite.dev-mobile {
        background-position: -121px -198px; }
      section.services div.services-container div.service div.sprite.game-dev {
        background-position: -2px -95px; }

@media screen and (min-width: 1024px) {
  section.services {
    margin-top: 100px;
    width: 100%;
    text-align: center; }
    section.services div.services-container div.service {
      width: 310px;
      height: 225px; } }

section.freelance-prices div.price-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between; }
  section.freelance-prices div.price-container div.price-per-antity {
    padding: 20px;
    width: 32%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    section.freelance-prices div.price-container div.price-per-antity h3 {
      text-align: center; }
    section.freelance-prices div.price-container div.price-per-antity div {
      margin-top: 15px;
      text-align: center; }
      section.freelance-prices div.price-container div.price-per-antity div span.bold-price {
        font-weight: bold;
        font-size: 28px; }
      section.freelance-prices div.price-container div.price-per-antity div p.price-description {
        margin-top: 8px;
        color: var(--gray); }
      section.freelance-prices div.price-container div.price-per-antity div p.options .line-option {
        display: flex;
        align-items: center;
        margin-top: 8px; }
      section.freelance-prices div.price-container div.price-per-antity div p.options span.option-key {
        margin-left: 15px; }
      section.freelance-prices div.price-container div.price-per-antity div p.options .yellow {
        color: var(--dyellow); }
      section.freelance-prices div.price-container div.price-per-antity div p.options .gray {
        color: var(--gray); }
      section.freelance-prices div.price-container div.price-per-antity div p.options .lblack {
        color: var(--lblack); }
    section.freelance-prices div.price-container div.price-per-antity button.order {
      margin: 20px auto 0px auto;
      padding: 8px 25px 8px 25px;
      vertical-align: baseline;
      line-height: 20px;
      font-size: 16px;
      color: var(--lblack);
      border: none;
      border-radius: 25px;
      box-shadow: 0px 0px 2px var(--gray);
      background-color: white;
      font-weight: bold;
      transition: background-color 0.4s ease-in, color 0.4s ease-in, box-shadow 0.4s ease-in; }
      section.freelance-prices div.price-container div.price-per-antity button.order:hover {
        background-color: var(--dyellow);
        box-shadow: 0px 0px 6px var(--gray);
        color: var(--lowblack); }

section.recommendations div.recommendation-container div.recommender {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 32%;
  height: 300px;
  background-color: white; }
  section.recommendations div.recommendation-container div.recommender p.stars {
    color: var(--dyellow); }
  section.recommendations div.recommendation-container div.recommender div.identity {
    display: flex; }
    section.recommendations div.recommendation-container div.recommender div.identity p {
      display: flex;
      flex-direction: column; }
      section.recommendations div.recommendation-container div.recommender div.identity p span {
        width: max-content; }

section.formations div.formations-container div.formation,
section.formations div.formations-container div.experience,
section.formations div.experiences-container div.formation,
section.formations div.experiences-container div.experience,
section.experiences div.formations-container div.formation,
section.experiences div.formations-container div.experience,
section.experiences div.experiences-container div.formation,
section.experiences div.experiences-container div.experience {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background-color: white; }
  section.formations div.formations-container div.formation div.experience-date h3,
  section.formations div.formations-container div.formation div.degre-date h3,
  section.formations div.formations-container div.formation aside h3,
  section.formations div.formations-container div.experience div.experience-date h3,
  section.formations div.formations-container div.experience div.degre-date h3,
  section.formations div.formations-container div.experience aside h3,
  section.formations div.experiences-container div.formation div.experience-date h3,
  section.formations div.experiences-container div.formation div.degre-date h3,
  section.formations div.experiences-container div.formation aside h3,
  section.formations div.experiences-container div.experience div.experience-date h3,
  section.formations div.experiences-container div.experience div.degre-date h3,
  section.formations div.experiences-container div.experience aside h3,
  section.experiences div.formations-container div.formation div.experience-date h3,
  section.experiences div.formations-container div.formation div.degre-date h3,
  section.experiences div.formations-container div.formation aside h3,
  section.experiences div.formations-container div.experience div.experience-date h3,
  section.experiences div.formations-container div.experience div.degre-date h3,
  section.experiences div.formations-container div.experience aside h3,
  section.experiences div.experiences-container div.formation div.experience-date h3,
  section.experiences div.experiences-container div.formation div.degre-date h3,
  section.experiences div.experiences-container div.formation aside h3,
  section.experiences div.experiences-container div.experience div.experience-date h3,
  section.experiences div.experiences-container div.experience div.degre-date h3,
  section.experiences div.experiences-container div.experience aside h3 {
    margin-bottom: 30px; }
  section.formations div.formations-container div.formation div.degre-date,
  section.formations div.formations-container div.formation div.experience-date,
  section.formations div.formations-container div.experience div.degre-date,
  section.formations div.formations-container div.experience div.experience-date,
  section.formations div.experiences-container div.formation div.degre-date,
  section.formations div.experiences-container div.formation div.experience-date,
  section.formations div.experiences-container div.experience div.degre-date,
  section.formations div.experiences-container div.experience div.experience-date,
  section.experiences div.formations-container div.formation div.degre-date,
  section.experiences div.formations-container div.formation div.experience-date,
  section.experiences div.formations-container div.experience div.degre-date,
  section.experiences div.formations-container div.experience div.experience-date,
  section.experiences div.experiences-container div.formation div.degre-date,
  section.experiences div.experiences-container div.formation div.experience-date,
  section.experiences div.experiences-container div.experience div.degre-date,
  section.experiences div.experiences-container div.experience div.experience-date {
    width: 25%; }
    section.formations div.formations-container div.formation div.degre-date p span.date,
    section.formations div.formations-container div.formation div.experience-date p span.date,
    section.formations div.formations-container div.experience div.degre-date p span.date,
    section.formations div.formations-container div.experience div.experience-date p span.date,
    section.formations div.experiences-container div.formation div.degre-date p span.date,
    section.formations div.experiences-container div.formation div.experience-date p span.date,
    section.formations div.experiences-container div.experience div.degre-date p span.date,
    section.formations div.experiences-container div.experience div.experience-date p span.date,
    section.experiences div.formations-container div.formation div.degre-date p span.date,
    section.experiences div.formations-container div.formation div.experience-date p span.date,
    section.experiences div.formations-container div.experience div.degre-date p span.date,
    section.experiences div.formations-container div.experience div.experience-date p span.date,
    section.experiences div.experiences-container div.formation div.degre-date p span.date,
    section.experiences div.experiences-container div.formation div.experience-date p span.date,
    section.experiences div.experiences-container div.experience div.degre-date p span.date,
    section.experiences div.experiences-container div.experience div.experience-date p span.date {
      margin-left: 25px;
      font-size: 12px;
      color: white;
      background-color: var(--dyellow);
      padding: 4px 8px 4px 8px; }
  section.formations div.formations-container div.formation aside,
  section.formations div.formations-container div.experience aside,
  section.formations div.experiences-container div.formation aside,
  section.formations div.experiences-container div.experience aside,
  section.experiences div.formations-container div.formation aside,
  section.experiences div.formations-container div.experience aside,
  section.experiences div.experiences-container div.formation aside,
  section.experiences div.experiences-container div.experience aside {
    width: 55%; }

section.portfolio {
  background-color: pink; }
  section.portfolio ul.portfolio-menu {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    font-weight: bold; }
  section.portfolio div.portfolio-container {
    width: 100%;
    margin-top: 30px;
    background-color: green; }
    section.portfolio div.portfolio-container figure {
      position: relative;
      cursor: pointer;
      width: 30%;
      height: 300px;
      background-color: brown; }
      section.portfolio div.portfolio-container figure img {
        width: 100%;
        object-fit: cover; }
      section.portfolio div.portfolio-container figure:hover::before {
        content: '+';
        font-size: 4em;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: yellow;
        width: 100%;
        height: 100%; }

section.contact {
  display: flex;
  justify-content: space-between; }
  section.contact form h2,
  section.contact aside h2 {
    margin-bottom: 40px; }
  section.contact form div.form-container,
  section.contact aside div.info-container {
    height: 550px; }
  section.contact form div,
  section.contact aside > div.info-container > div.info {
    background-color: white; }
  section.contact form {
    width: 55%; }
    section.contact form h2 {
      color: var(--lblack); }
    section.contact form div.form-container {
      padding: 15px; }
      section.contact form div.form-container p {
        display: flex;
        flex-direction: column; }
        section.contact form div.form-container p label {
          color: var(--lowblack);
          margin-bottom: 6px; }
        section.contact form div.form-container p input,
        section.contact form div.form-container p textarea {
          margin-bottom: 20px;
          border: none;
          background-color: var(--lgrey);
          padding: 8px 15px 8px 15px; }
      section.contact form div.form-container p.textarea {
        height: 50%; }
        section.contact form div.form-container p.textarea textarea {
          height: 100%; }
      section.contact form div.form-container button {
        border: none;
        background-color: var(--dyellow);
        padding: 8px 10px 8px 10px; }
  section.contact aside {
    width: 40%; }
    section.contact aside div.info-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      section.contact aside div.info-container div.info {
        padding: 20px; }
        section.contact aside div.info-container div.info > p.icon {
          text-align: center; }
          section.contact aside div.info-container div.info > p.icon > span {
            background-color: var(--dyellow);
            padding: 8px;
            border-radius: 50px;
            margin-bottom: 25px; }
        section.contact aside div.info-container div.info p.content-text {
          display: flex;
          justify-content: space-between; }
          section.contact aside div.info-container div.info p.content-text > span,
          section.contact aside div.info-container div.info p.content-text > span a {
            color: var(--gray); }
          section.contact aside div.info-container div.info p.content-text > span.label-text {
            font-weight: bold;
            color: var(--lowblack); }

footer {
  margin-top: 50px; }
  footer p {
    text-align: center;
    color: var(--lblack);
    font-weight: bold;
    font-style: italic;
    padding: 15px; }
