@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap");
:root {
  --dyellow: #FFB400;
  --filter-dyellow: 
    invert(70%) 
    sepia(86%) 
    saturate(1787%) 
    hue-rotate(359deg) 
    brightness(101%) 
    contrast(105%);
  --lblack: #2B2B2B;
  --lowblack: #3A3B3C;
  --gray: #767676;
  --lgrey: #F0F0F6;
  --bg: #E4E6EB;
  --circle: 100px;
  --sprite-w: 70px;
  --sprite-h: 70px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: var(--bg); }

li {
  list-style: none; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Montserrat', sans-serif;
  color: var(--lblack); }

h3 {
  font-weight: 700; }

.bold {
  font-weight: bold; }

div.main-container {
  display: flex;
  justify-content: space-between; }

section.presentation-board {
  padding: 20px; }
  section.presentation-board > div {
    border-bottom: 1px solid rgba(125, 125, 125, 0.3);
    margin-top: 20px;
    padding-bottom: 20px;
    width: 100%; }
    section.presentation-board > div h3, section.presentation-board > div h4 {
      margin-bottom: 15px;
      font-weight: 500; }
    section.presentation-board > div p {
      font-weight: 300;
      color: var(--gray); }
      section.presentation-board > div p.percent {
        display: flex;
        justify-content: space-between; }
    section.presentation-board > div span.jauge {
      display: inline-block;
      width: 100%;
      height: 6px;
      padding: 1px;
      border: 1px solid var(--dyellow);
      border-radius: 25px;
      margin-top: 5px;
      margin-bottom: 8px; }
      section.presentation-board > div span.jauge span.interne {
        display: block;
        height: 2px;
        background-color: var(--dyellow); }
  section.presentation-board button.download-cv {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    padding: 8px 15px 8px 15px;
    font-weight: bold;
    width: 75%;
    background-color: var(--dyellow); }

@media screen and (min-width: 992px) {
  section.presentation-board {
    width: 305px;
    height: fit-content;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center; }
    section.presentation-board div.me {
      display: flex;
      flex-direction: column;
      align-items: center; }
      section.presentation-board div.me figure {
        display: flex;
        flex-direction: column;
        align-items: center; }
        section.presentation-board div.me figure img.picture {
          width: 150px;
          height: 150px;
          border-radius: var(--circle);
          object-fit: cover; }
        section.presentation-board div.me figure figcaption {
          font-weight: bolder;
          margin-top: 30px;
          font-size: 20px; }
    section.presentation-board div.social-network {
      margin-top: 20px; }
      section.presentation-board div.social-network h4.what-am-i {
        font-weight: 400; }
      section.presentation-board div.social-network ul {
        display: flex;
        justify-content: space-between;
        margin-top: 20px; }
        section.presentation-board div.social-network ul li {
          width: 24px;
          height: 24px;
          background-color: var(--dyellow);
          color: var(--lblack);
          border-radius: var(--circle); } }

section.menu, div.menu-option, span.burder {
  display: flex;
  flex-direction: column;
  align-items: center; }

section.menu {
  min-width: 108px;
  max-width: 170px;
  background-color: white;
  padding: 30px 10px 30px 10px; }
  section.menu span.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--gray);
    border-radius: var(--circle);
    background-color: var(--lgrey);
    transition: transform 0.2s ease-in, box-shadow, 0.2s ease, background-color 0.2s ease; }
    section.menu span.circle:hover {
      transform: translate(-5px, -5px);
      color: var(--lowblack);
      background-color: var(--dyellow);
      box-shadow: 4px 4px 3px var(--gray); }

@media screen and (min-width: 992px) {
  section.menu {
    width: 100%; }
    section.menu ul {
      height: 420px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      section.menu ul li {
        display: flex;
        align-items: center; }
        section.menu ul li span.circle {
          margin-right: 10px; } }

@media screen and (min-width: 1024px) {
  main {
    width: 970px; } }

div.hero {
  padding: 50px 50px 0px 30px;
  max-width: 970px;
  max-height: 470px;
  background-color: white;
  display: flex;
  justify-content: space-between; }
  div.hero div.hero-text {
    margin: 50px 0px 60px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start; }
    div.hero div.hero-text h1.i-am span.front-end {
      color: var(--dyellow);
      background-color: aquamarine; }
    div.hero div.hero-text button.hire-me {
      width: 170px;
      background-color: var(--dyellow);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px 10px 20px;
      border-radius: 5px;
      border: none; }
      div.hero div.hero-text button.hire-me span.material-symbols-outlined {
        font-weight: 400; }
  div.hero figure {
    height: 100%;
    display: flex;
    align-items: flex-end; }
    div.hero figure img {
      height: 95%; }

@media screen and (min-width: 1024px) {
  div.hero {
    width: 100%;
    height: 100%; } }

section.services > p {
  margin: 30px auto 30px auto;
  width: 430px; }

section.services div.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px; }
  section.services div.services-container div.service {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px; }
    section.services div.services-container div.service div.sprite {
      width: var(--sprite-w);
      height: var(--sprite-h);
      background-image: url("../assets/illustration/illustration_sprites.png");
      background-size: 284%;
      background-repeat: no-repeat;
      /* Utilisez filter pour changer la couleur de l'image en #FFB400 */
      filter: var(--filter-dyellow); }
      section.services div.services-container div.service div.sprite.web-dev {
        background-position: -2px 1px; }
      section.services div.services-container div.service div.sprite.web-design {
        background-position: -124px 2px; }
      section.services div.services-container div.service div.sprite.back-end {
        background-position: -125px -95px; }
      section.services div.services-container div.service div.sprite.dev-mobile {
        background-position: -121px -198px; }
      section.services div.services-container div.service div.sprite.game-dev {
        background-position: -2px -95px; }

@media screen and (min-width: 1024px) {
  section.services {
    margin-top: 100px;
    width: 100%;
    text-align: center; }
    section.services div.services-container div.service {
      width: 310px;
      height: 225px; } }
